.Admin{
    margin-top: 1rem;
    margin-left: 1rem;
}

.Admin .form-control {
    width: 500px;  /* Adjust the value based on how long you want the input fields to be */
}

@media (max-width: 768px) {
    .Admin .form-control {
        width: 300px;  
      }
}